.SwapButton_swap-button {
  width: 100px;
  height: auto;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

